@charset "UTF-8";
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Color de fondo */
body.cuerpoCompleto {
  background-color: #ffba08; }

/* Cabecera */
.cabecera {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  padding: auto;
  margin: 18px;
  border: 3px solid black; }
  .cabecera .title {
    width: 100%;
    background-color: #faa307;
    font-size: 3rem;
    text-align: center;
    height: 80%;
    padding: 1%;
    margin: auto; }

/* imagen */
.imagenes {
  display: flex;
  justify-content: center;
  margin: 18px;
  border: 3px solid black;
  width: auto;
  background-color: #dc2f02;
  animation-name: subiendoYBajando;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }
  .imagenes .img-index {
    width: auto; }

@keyframes subiendoYBajando {
  0% {
    padding: 18px; }
  25% {
    padding-top: 9px;
    padding-bottom: 27px; }
  50% {
    padding-top: 18px;
    padding-bottom: 18px; }
  75% {
    padding-top: 27px;
    padding-bottom: 9px; }
  100% {
    padding-top: 18px;
    padding-bottom: 18px; } }

/* nav */
.barraDeNavegacionBlog {
  background-color: #FFAA00;
  border: 3px solid black;
  border-style: ridge;
  border-radius: 10px;
  display: grid;
  justify-content: center;
  margin: 18px;
  padding: 18px;
  width: auto; }
  .barraDeNavegacionBlog .menuListBlog {
    display: grid;
    list-style: none;
    grid-template-areas: "experiencias notando aprendizajes" "rimando . inicio";
    gap: 18px; }
    .barraDeNavegacionBlog .menuListBlog li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 80%;
      margin: 18px; }
      .barraDeNavegacionBlog .menuListBlog li a {
        color: #d00000;
        font-size: 1.8rem;
        text-decoration: none;
        margin: 1rem; }
      .barraDeNavegacionBlog .menuListBlog li a:hover {
        transform: scale(1.2);
        background-color: #f48c22;
        box-shadow: 4px 4px 10px black;
        transition: 1.2s;
        border-radius: 10px; }
    .barraDeNavegacionBlog .menuListBlog li.notando {
      grid-area: notando; }
    .barraDeNavegacionBlog .menuListBlog li.experiencias {
      grid-area: experiencias; }
    .barraDeNavegacionBlog .menuListBlog li.aprendizajes {
      grid-area: aprendizajes; }
    .barraDeNavegacionBlog .menuListBlog li.rimando {
      grid-area: rimando; }
    .barraDeNavegacionBlog .menuListBlog li.inicio {
      grid-area: inicio; }

/* Main */
.cuerpoVisible {
  margin: 18px;
  border: 3px solid black;
  padding: 27px;
  height: 100%;
  width: auto;
  background-color: #e85d04; }
  .cuerpoVisible .seccion {
    display: grid;
    grid-template-areas: "notandoSeis notando-meaning" "notandoCinco notandoCinco" "notandoCuatro notandoCuatro" "notandoTres notandoTres" "notandoDos notandoDos" "notandoUno notandoUno";
    gap: 18px;
    /* Entradas del blog */ }
    .cuerpoVisible .seccion .entradaBlog {
      display: grid;
      color: #20b439;
      margin: 18px;
      padding: 18px;
      height: auto;
      width: auto;
      background-color: #FFAA00; }
      .cuerpoVisible .seccion .entradaBlog .subTitle {
        text-align: center;
        font-size: 27px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: inherit; }
      .cuerpoVisible .seccion .entradaBlog .texto {
        margin: 18px;
        color: #002df7;
        padding: 18px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
      .cuerpoVisible .seccion .entradaBlog .formatoAudio {
        margin: 18px; }
    .cuerpoVisible .seccion .notandoUno {
      grid-area: notandoUno; }
    .cuerpoVisible .seccion .notandoDos {
      grid-area: notandoDos; }
    .cuerpoVisible .seccion .notandoTres {
      grid-area: notandoTres; }
    .cuerpoVisible .seccion .notandoCuatro {
      grid-area: notandoCuatro; }
    .cuerpoVisible .seccion .notandoCinco {
      grid-area: notandoCinco; }
    .cuerpoVisible .seccion .notandoSeis {
      grid-area: notandoSeis; }

/* pie de página */
.pieDePagina {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  margin: 18px;
  border: 3px solid black;
  padding: 18px;
  height: auto;
  width: auto;
  background-color: #9d0208; }
  .pieDePagina .textoPie {
    font-family: Verdana, Geneva, Tahoma, sans-serif; }

/* Media Queries */
@media screen and (max-width: 480px) {
  /* Nav */
  .menu-list {
    gap: 9px; }
    .menu-list li a {
      font-size: 1rem;
      margin: 0.4rem; }
  .seccion {
    padding: 27px; }
    .seccion .entrada-blog {
      margin: 18px;
      padding: 9px; } }
