@charset "UTF-8";
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Color de fondo */
body.cuerpoCompleto {
  background-color: #ffba08; }

/* Cabecera */
.cabecera {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  padding: auto;
  margin: 18px;
  border: 3px solid black; }
  .cabecera .title {
    width: 100%;
    background-color: #faa307;
    font-size: 3rem;
    text-align: center;
    height: 80%;
    padding: 1%;
    margin: auto; }

/* imagen */
.imagenesBlog {
  display: flex;
  justify-content: center;
  margin: 18px;
  border: 3px solid black;
  width: auto;
  background-color: #dc2f02;
  animation-name: subiendoYBajando;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }
  .imagenesBlog .img-index {
    width: auto; }

@keyframes subiendoYBajando {
  0% {
    padding: 18px; }
  25% {
    padding-top: 9px;
    padding-bottom: 27px; }
  50% {
    padding-top: 18px;
    padding-bottom: 18px; }
  75% {
    padding-top: 27px;
    padding-bottom: 9px; }
  100% {
    padding-top: 18px;
    padding-bottom: 18px; } }

/* Parte del blog */
/* Nav */
.barraDeNavegacionBlog {
  background-color: #FFAA00;
  border: 3px solid black;
  border-style: ridge;
  border-radius: 10px;
  display: grid;
  justify-content: center;
  margin: 18px;
  padding: 18px;
  width: auto; }
  .barraDeNavegacionBlog .menuListBlog {
    display: grid;
    list-style: none;
    grid-template-areas: "experiencias notando aprendizajes" "rimando . inicio";
    gap: 18px; }
    .barraDeNavegacionBlog .menuListBlog li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 80%;
      margin: 18px; }
      .barraDeNavegacionBlog .menuListBlog li a {
        color: #d00000;
        font-size: 1.8rem;
        text-decoration: none;
        margin: 1rem; }
      .barraDeNavegacionBlog .menuListBlog li a:hover {
        transform: scale(1.2);
        background-color: #f48c22;
        box-shadow: 4px 4px 10px black;
        transition: 1.2s;
        border-radius: 10px; }
    .barraDeNavegacionBlog .menuListBlog li.notando {
      grid-area: notando; }
    .barraDeNavegacionBlog .menuListBlog li.experiencias {
      grid-area: experiencias; }
    .barraDeNavegacionBlog .menuListBlog li.aprendizajes {
      grid-area: aprendizajes; }
    .barraDeNavegacionBlog .menuListBlog li.rimando {
      grid-area: rimando; }
    .barraDeNavegacionBlog .menuListBlog li.inicio {
      grid-area: inicio; }

/* Parte del sitio principal */
/* nav */
.barraDeNavegacion {
  background-color: #f48c06;
  border: 3px solid black;
  display: grid;
  grid-template-areas: "menu";
  text-align: center;
  margin: 18px;
  padding: 18px;
  width: auto; }
  .barraDeNavegacion .menuListContacto {
    grid-area: menu;
    display: grid;
    grid-template-areas: "portafolio . inicio";
    list-style: none; }
    .barraDeNavegacion .menuListContacto li {
      display: flex;
      justify-content: center; }
      .barraDeNavegacion .menuListContacto li a {
        color: #d00000;
        font-size: 2.4rem;
        text-decoration: none;
        margin: 1rem; }
      .barraDeNavegacion .menuListContacto li a:hover {
        transform: scale(1.2);
        background-color: #f48c22;
        box-shadow: 4px 4px 10px black;
        transition: 1.2s;
        border-radius: 10px; }
    .barraDeNavegacion .menuListContacto .portafolio {
      grid-area: portafolio; }
    .barraDeNavegacion .menuListContacto .inicio {
      grid-area: inicio; }
  .barraDeNavegacion .menuList {
    grid-area: menu;
    display: grid;
    grid-template-areas: "inicio . contacto";
    list-style: none; }
    .barraDeNavegacion .menuList li {
      display: flex;
      justify-content: center; }
      .barraDeNavegacion .menuList li a {
        color: #d00000;
        font-size: 2.4rem;
        text-decoration: none;
        margin: 1rem; }
      .barraDeNavegacion .menuList li a:hover {
        transform: scale(1.2);
        background-color: #f48c22;
        box-shadow: 4px 4px 10px black;
        transition: 1.2s;
        border-radius: 10px; }
    .barraDeNavegacion .menuList .contacto {
      grid-area: contacto; }
    .barraDeNavegacion .menuList .inicio {
      grid-area: inicio; }

/* Parte del blog */
/* Main */
.cuerpoVisible {
  margin: 18px;
  border: 3px solid black;
  padding: 27px;
  height: 100%;
  width: auto;
  background-color: #e85d04; }
  .cuerpoVisible .seccionNotando {
    display: grid;
    grid-template-areas: "notandoSeis notando-meaning" "notandoCinco notandoCinco" "notandoCuatro notandoCuatro" "notandoTres notandoTres" "notandoDos notandoDos" "notandoUno notandoUno";
    gap: 18px;
    /* Entradas del blog */ }
    .cuerpoVisible .seccionNotando .entradaBlog {
      display: grid;
      color: #20b439;
      margin: 18px;
      padding: 18px;
      height: auto;
      width: auto;
      background-color: #FFAA00; }
      .cuerpoVisible .seccionNotando .entradaBlog .subTitle {
        text-align: center;
        font-size: 27px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: inherit; }
      .cuerpoVisible .seccionNotando .entradaBlog .texto {
        margin: 18px;
        color: #002df7;
        padding: 18px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
      .cuerpoVisible .seccionNotando .entradaBlog .formatoAudio {
        margin: 18px; }
    .cuerpoVisible .seccionNotando .notandoUno {
      grid-area: notandoUno; }
    .cuerpoVisible .seccionNotando .notandoDos {
      grid-area: notandoDos; }
    .cuerpoVisible .seccionNotando .notandoTres {
      grid-area: notandoTres; }
    .cuerpoVisible .seccionNotando .notandoCuatro {
      grid-area: notandoCuatro; }
    .cuerpoVisible .seccionNotando .notandoCinco {
      grid-area: notandoCinco; }
    .cuerpoVisible .seccionNotando .notandoSeis {
      grid-area: notandoSeis; }

/* Parte de la página principal */
/* Main index.html */
.cuerpoVisiblePrincipal {
  display: grid;
  grid-template-areas: "imagen padre";
  width: auto;
  background-color: #e85d04;
  margin: 18px;
  border: 3px solid black;
  padding: 18px; }
  .cuerpoVisiblePrincipal .imagenesPrincipal {
    grid-area: imagen;
    margin: 18px;
    border: 3px solid black;
    padding: 18px;
    height: auto;
    width: auto;
    background-color: #dc2f02;
    animation-name: subiendoYBajando;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    .cuerpoVisiblePrincipal .imagenesPrincipal .imgIndexPrincipal {
      width: 100%; }
  .cuerpoVisiblePrincipal .padre {
    display: grid;
    grid-area: padre;
    margin: 18px;
    border: 3px solid black;
    padding: 18px;
    height: auto;
    width: auto;
    background-color: #d00000; }

.cuerpoVisiblePrincipalIndex {
  display: grid;
  grid-template-areas: "imagen padre padreTexto";
  gap: 18px;
  margin: 18px;
  border: 3px solid black;
  padding: 18px;
  height: 100%;
  width: auto;
  background-color: #e85d04; }
  .cuerpoVisiblePrincipalIndex .imagenesPrincipalIndex {
    grid-area: imagen;
    display: flex;
    justify-content: center;
    margin: 18px;
    height: auto;
    width: 100%;
    padding: 18px;
    background-color: #dc2f02;
    animation-name: subiendoYBajando;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    .cuerpoVisiblePrincipalIndex .imagenesPrincipalIndex .imgIndexPrincipal {
      width: 100%; }
  .cuerpoVisiblePrincipalIndex .padreIndex {
    grid-area: padre;
    display: flex;
    flex-wrap: wrap;
    margin: 18px;
    padding: 18px;
    height: auto;
    width: auto;
    background-color: #d00000; }
    .cuerpoVisiblePrincipalIndex .padreIndex .hijo {
      background-color: aqua;
      width: 40px;
      height: 40px;
      margin: 4px; }
  .cuerpoVisiblePrincipalIndex .padreTexto {
    grid-area: padreTexto;
    margin: 18px;
    padding: 18px;
    background-color: #d00; }

/* Main contacto.html */
.cuerpoVisibleContacto {
  display: grid;
  grid-template-areas: "formulario imagen";
  justify-content: center;
  margin: 18px;
  border: 3px solid black;
  padding: 18px;
  height: auto;
  width: auto;
  background-color: #e85d04; }
  .cuerpoVisibleContacto .formulario {
    grid-area: formulario;
    display: flex;
    flex-direction: column;
    margin: 18px;
    border: 3px solid black;
    padding: 18px;
    background-color: #d00000; }
    .cuerpoVisibleContacto .formulario .entrada {
      margin: 18px;
      text-align: center; }
      .cuerpoVisibleContacto .formulario .entrada .datos {
        background-color: #a50505;
        border: 1px solid red; }
  .cuerpoVisibleContacto .imagenesForm {
    grid-area: imagen;
    margin: 18px;
    border: 3px solid black;
    padding: 18px;
    height: auto;
    width: auto;
    background-color: #dc2f02; }
    .cuerpoVisibleContacto .imagenesForm .imgIndexForm {
      width: 100%; }

/* pie de página */
.pieDePagina {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  margin: 18px;
  border: 3px solid black;
  padding: 18px;
  height: auto;
  width: auto;
  background-color: #9d0208; }
  .pieDePagina .textoPie {
    font-family: Verdana, Geneva, Tahoma, sans-serif; }

/* Media Queries */
@media screen and (max-width: 480px) {
  /* Nav */
  .menu-list {
    gap: 9px; }
    .menu-list li a {
      font-size: 1rem;
      margin: 0.4rem; }
  .seccion {
    padding: 27px; }
    .seccion .entrada-blog {
      margin: 18px;
      padding: 9px; } }

@media screen and (max-width: 480px) {
  /* MAIN Y MENU .cuerpoVisible {grid-template-areas: "imagen"
            "padre";}
        li a {font-size: 1.4rem;} */ }

@media (max-width: 768px) and (min-width: 481px) {
  /* NAV = .menuList {
            gap: 9px;}
                li a {
                    font-size:  1.4rem;
                margin: 0.4rem;} 
                ul {height: 1.875rem;}
                li {display: flex;
                align-items: center;} */
  /* main =
        .cuerpoVisible {display: grid;
            grid-template-areas: "imagen"
            "padre"
            "carta";} */ }
