@charset "UTF-8";
.cabecera, .barraDeNavegacion, .cuerpoVisibleIndex, .padreImagenesBlog, .barraDeNavegacionBlog, .cuerpoVisible, .cuerpoVisiblePortafolio, .cuerpoVisiblePortafolio .imagenesPortafolio, .cuerpoVisiblePortafolio .padrePortafolio, .cuerpoVisibleContacto, .cuerpoVisibleContacto .formulario, .cuerpoVisibleContacto .imagenesForm, .pieDePagina {
  border: 3px solid #000; }

.cuerpoVisible .seccion .entradaBlog .subTitle {
  text-align: center;
  font-size: 3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: inherit; }

.cuerpoVisible .seccion .entradaBlog .texto {
  width: auto;
  height: auto;
  padding: 1.125rem;
  margin: 1.125rem;
  color: #002df7;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.1rem; }

.cuerpoVisible .seccion .entradaBlog .tiempo {
  font-size: 1.8rem; }

/* Reset general*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Color de fondo general*/
.cuerpoCompleto {
  background-color: #ffba08; }

/* Cabecera  general*/
.cabecera {
  display: flex;
  justify-content: center;
  background-color: #faa307;
  width: auto;
  height: auto;
  padding: 1.125rem;
  margin: 1.125rem; }
  .cabecera .title {
    width: 100%;
    height: 80%;
    padding: 1%;
    margin: auto;
    background-color: #faa307;
    font-size: 3rem;
    text-align: center; }

/* Pagina Principal
Nav */
.barraDeNavegacion {
  background-color: #f48c06;
  display: grid;
  grid-template-areas: "menu";
  text-align: center;
  margin: 18px;
  padding: 18px; }
  .barraDeNavegacion .menuListContacto {
    grid-area: menu;
    display: grid;
    grid-template-areas: "portafolio . inicio";
    list-style: none; }
    .barraDeNavegacion .menuListContacto li {
      display: flex;
      justify-content: center; }
      .barraDeNavegacion .menuListContacto li a {
        color: #000;
        font-size: 2.4rem;
        text-decoration: none;
        margin: 1rem; }
      .barraDeNavegacion .menuListContacto li a:hover {
        transform: scale(1.2);
        background-color: #f48c22;
        box-shadow: 4px 4px 10px black;
        transition: 1.2s;
        border-radius: 10px; }
    .barraDeNavegacion .menuListContacto .portafolio {
      grid-area: portafolio; }
    .barraDeNavegacion .menuListContacto .inicio {
      grid-area: inicio; }
  .barraDeNavegacion .menuList {
    grid-area: menu;
    display: grid;
    grid-template-areas: "inicio . contacto";
    list-style: none; }
    .barraDeNavegacion .menuList li {
      display: flex;
      justify-content: center; }
      .barraDeNavegacion .menuList li a {
        color: #000;
        font-size: 2.4rem;
        text-decoration: none;
        width: auto;
        height: auto;
        padding: auto;
        margin: 1rem; }
      .barraDeNavegacion .menuList li a:hover {
        transform: scale(1.2);
        background-color: #f48c22;
        box-shadow: 4px 4px 10px black;
        transition: 1.2s;
        border-radius: 10px; }
    .barraDeNavegacion .menuList .contacto {
      grid-area: contacto; }
    .barraDeNavegacion .menuList .inicio {
      grid-area: inicio; }

/* Main Index */
.cuerpoVisibleIndex {
  display: grid;
  grid-template-areas: "imagen padre padreTexto";
  width: auto;
  height: 100%;
  padding: 1.125rem;
  margin: 1.125rem;
  background-color: #e85d04; }
  .cuerpoVisibleIndex .imagenesIndex {
    grid-area: imagen;
    width: auto;
    height: auto;
    padding: 1.125rem;
    margin: 1.125rem;
    display: flex;
    justify-content: center;
    background-color: #dc2f02;
    animation-name: subiendoYBajando;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    .cuerpoVisibleIndex .imagenesIndex .imgIndex {
      width: 100%;
      height: auto;
      padding: auto;
      margin: auto; }
      .cuerpoVisibleIndex .imagenesIndex .imgIndex .cuerpoCarta .subTitleCarta {
        font-size: 2.1rem; }
      .cuerpoVisibleIndex .imagenesIndex .imgIndex .cuerpoCarta .textoCarta {
        font-size: 1.5rem; }
  .cuerpoVisibleIndex .padreIndex {
    grid-area: padre;
    width: auto;
    height: auto;
    padding: 1.125rem;
    margin: 1.125rem;
    display: flex;
    flex-wrap: wrap;
    background-color: #d00000; }
    .cuerpoVisibleIndex .padreIndex .textoPadreIndex {
      font-size: 2.1rem; }
    .cuerpoVisibleIndex .padreIndex .hijo {
      background-color: black;
      color: #fff;
      width: 45px;
      height: 45px;
      padding: auto;
      margin: 4px; }
  .cuerpoVisibleIndex .padreTexto {
    grid-area: padreTexto;
    width: auto;
    height: auto;
    padding: 1.125rem;
    margin: 1.125rem;
    background-color: #d00000; }
    .cuerpoVisibleIndex .padreTexto .subTitle {
      text-align: center;
      font-size: 2.1rem; }
    .cuerpoVisibleIndex .padreTexto .texto {
      font-size: 1.5rem; }

/*Logo*/
.padreLogo {
  width: auto;
  height: auto;
  padding: 1.125rem;
  margin: 1.125rem;
  display: flex;
  justify-content: center;
  position: fixed;
  left: auto;
  right: 0;
  bottom: 0; }

/* imagen blog */
.padreImagenesBlog {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 1.125rem;
  margin: 1.125rem;
  background-color: #dc2f02;
  animation-name: subiendoYBajando;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }
  .padreImagenesBlog .imgBlog {
    background-color: #dc2f02;
    width: 50%;
    height: auto;
    padding: auto;
    margin: auto; }
    .padreImagenesBlog .imgBlog .cuerpoCarta .subTitleCarta {
      text-align: center;
      font-size: 2.1rem; }
    .padreImagenesBlog .imgBlog .cuerpoCarta .textoCarta {
      font-size: 1.5rem; }

@keyframes subiendoYBajando {
  0% {
    padding: 18px; }
  25% {
    padding-top: 9px;
    padding-bottom: 27px; }
  50% {
    padding-top: 18px;
    padding-bottom: 18px; }
  75% {
    padding-top: 27px;
    padding-bottom: 9px; }
  100% {
    padding-top: 18px;
    padding-bottom: 18px; } }

/* Parte del blog 
Nav */
.barraDeNavegacionBlog {
  background-color: #FFAA00;
  border-style: ridge;
  border-radius: 10px;
  display: grid;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 1.125rem;
  margin: 1.125rem; }
  .barraDeNavegacionBlog .menuListBlog {
    display: grid;
    list-style: none;
    grid-template-areas: "experiencias notando aprendizajes" "rimando . inicio";
    gap: 18px; }
    .barraDeNavegacionBlog .menuListBlog li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 80%;
      padding: auto;
      margin: auto; }
      .barraDeNavegacionBlog .menuListBlog li a {
        color: #000;
        font-size: 1.8rem;
        text-decoration: none;
        width: auto;
        height: auto;
        padding: auto;
        margin: 1.125rem; }
      .barraDeNavegacionBlog .menuListBlog li a:hover {
        transform: scale(1.2);
        background-color: #f48c22;
        box-shadow: 4px 4px 10px black;
        transition: 1.2s;
        border-radius: 10px; }
    .barraDeNavegacionBlog .menuListBlog li.notando {
      grid-area: notando; }
    .barraDeNavegacionBlog .menuListBlog li.experiencias {
      grid-area: experiencias; }
    .barraDeNavegacionBlog .menuListBlog li.aprendizajes {
      grid-area: aprendizajes; }
    .barraDeNavegacionBlog .menuListBlog li.rimando {
      grid-area: rimando; }
    .barraDeNavegacionBlog .menuListBlog li.inicio {
      grid-area: inicio; }

/* Main */
.cuerpoVisible {
  width: auto;
  height: 100%;
  padding: 1.6875rem;
  margin: 1.125rem;
  background-color: #e85d04; }
  .cuerpoVisible .seccionNotando {
    display: grid;
    grid-template-areas: "notandoSeis notando-meaning" "notandoCinco notandoCinco" "notandoCuatro notandoCuatro" "notandoTres notandoTres" "notandoDos notandoDos" "notandoUno notandoUno";
    gap: 9px;
    /* Entradas del blog */ }
    .cuerpoVisible .seccionNotando .entradaBlog {
      display: grid;
      color: #20b439;
      width: auto;
      height: auto;
      padding: 0.3rem;
      margin: 0.5rem;
      background-color: #FFAA00; }
      .cuerpoVisible .seccionNotando .entradaBlog .subTitle {
        text-align: center;
        font-size: 2.1rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: inherit; }
      .cuerpoVisible .seccionNotando .entradaBlog .texto {
        width: auto;
        height: auto;
        padding: 0.5rem;
        margin: 0.5rem;
        font-size: 1.5rem;
        color: #002df7;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
    .cuerpoVisible .seccionNotando .notandoUno {
      grid-area: notandoUno; }
    .cuerpoVisible .seccionNotando .notandoDos {
      grid-area: notandoDos; }
    .cuerpoVisible .seccionNotando .notandoTres {
      grid-area: notandoTres; }
    .cuerpoVisible .seccionNotando .notandoCuatro {
      grid-area: notandoCuatro; }
    .cuerpoVisible .seccionNotando .notandoCinco {
      grid-area: notandoCinco; }
    .cuerpoVisible .seccionNotando .notandoSeis {
      grid-area: notandoSeis; }
  .cuerpoVisible .seccion {
    display: grid;
    justify-content: center; }
    .cuerpoVisible .seccion .entradaBlog {
      color: #20b439;
      width: auto;
      height: auto;
      padding: 1.125rem;
      margin: 1.125rem;
      background-color: #FFAA00; }

/* Main portafolio */
.cuerpoVisiblePortafolio {
  display: grid;
  grid-template-areas: "imagen padre";
  width: auto;
  height: auto;
  padding: 1.125rem;
  margin: 1.125rem;
  background-color: #e85d04; }
  .cuerpoVisiblePortafolio .imagenesPortafolio {
    grid-area: imagen;
    width: auto;
    height: auto;
    padding: 1.125rem;
    margin: 1.125rem;
    background-color: #dc2f02;
    animation-name: subiendoYBajando;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    .cuerpoVisiblePortafolio .imagenesPortafolio .imgIndexPrincipal {
      width: auto;
      height: auto;
      padding: 1.125rem;
      margin: 1.125rem; }
      .cuerpoVisiblePortafolio .imagenesPortafolio .imgIndexPrincipal .cuerpoCarta .subTitleCarta {
        font-size: 2.1rem; }
      .cuerpoVisiblePortafolio .imagenesPortafolio .imgIndexPrincipal .cuerpoCarta .textoCarta {
        font-size: 1.5rem; }
  .cuerpoVisiblePortafolio .padrePortafolio {
    display: grid;
    grid-area: padre;
    width: auto;
    height: auto;
    padding: 1.125rem;
    margin: 1.125rem; }
    .cuerpoVisiblePortafolio .padrePortafolio .subtitle {
      text-align: center;
      font-size: 2.1rem; }
    .cuerpoVisiblePortafolio .padrePortafolio .texto {
      font-size: 2.1rem; }

/* Main contacto.html */
.cuerpoVisibleContacto {
  display: grid;
  grid-template-areas: "formulario imagen";
  justify-content: center;
  width: auto;
  height: auto;
  padding: 1.125rem;
  margin: 1.125rem;
  background-color: #e85d04; }
  .cuerpoVisibleContacto .formulario {
    grid-area: formulario;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 1.125rem;
    margin: 1.125rem; }
    .cuerpoVisibleContacto .formulario .entrada {
      width: auto;
      height: auto;
      padding: auto;
      margin: 1.125rem;
      text-align: center; }
      .cuerpoVisibleContacto .formulario .entrada .datos {
        background-color: orange;
        border: 1px solid red; }
  .cuerpoVisibleContacto .imagenesForm {
    grid-area: imagen;
    width: auto;
    height: auto;
    padding: 1.125rem;
    margin: 1.125rem;
    background-color: #dc2f02; }
    .cuerpoVisibleContacto .imagenesForm .imgIndexForm {
      width: 100%;
      height: auto;
      padding: auto;
      margin: auto; }
      .cuerpoVisibleContacto .imagenesForm .imgIndexForm .cuerpoCarta .subTitleCarta {
        font-size: 2.1rem; }
      .cuerpoVisibleContacto .imagenesForm .imgIndexForm .cuerpoCarta .textoCarta {
        font-size: 1.5rem; }

/* pie de página */
.pieDePagina {
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: flex-end;
  width: auto;
  height: auto;
  padding: 1.125rem;
  margin: 1.125rem;
  background-color: #9d0208; }
  .pieDePagina .textoPie {
    font-size: 2rem;
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }

/* Vista Mobile */
@media (max-width: 480px) {
  /* Index 
 Nav */
  .barraDeNavegacion .menuList li a {
    font-size: 1.4rem; }
  /* Main */
  .cuerpoVisibleIndex {
    display: grid;
    grid-template-areas: "imagen" "padre" "padreTexto"; }
  /*Portafolio
Nav*/
  .barraDeNavegacion .menuListContacto li a {
    font-size: 1.4rem; }
  /* Main */
  .cuerpoVisiblePortafolio {
    display: grid;
    grid-template-areas: "imagen" "padre"; }
  /* Contacto */
  /* Main */
  .cuerpoVisibleContacto {
    grid-template-areas: "formulario" "imagen"; }
  .barraDeNavegacion .menuList li a, .barraDeNavegacion .menuListContacto li a {
    font-size: 1.4rem; }
  /* Main */
  .cuerpoVisiblePrincipalIndex {
    display: grid;
    grid-template-areas: "imagen" "padre" "padreTexto"; }
  /*Portafolio
 Main*/
  .cuerpoVisiblePrincipal {
    display: grid;
    grid-template-areas: "imagen" "padre"; }
  .cuerpoVisibleContacto {
    grid-template-areas: "formulario" "imagen"; }
  /* Blog
 Index-blog
 Imagenes*/
  .padreImagenesBlog .imgBlog .cuerpoCarta h2.subTitleCarta {
    font-size: 1.5rem; }
  .padreImagenesBlog .imgBlog .cuerpoCarta p.textoCarta {
    font-size: 1.2rem; }
  /*Nav*/
  .barraDeNavegacionBlog .menuListBlog li a {
    text-align: center;
    font-size: 0.9rem;
    width: auto;
    height: auto;
    padding: auto;
    margin: 0.3rem; }
  /* Main blog */
  .cuerpoVisible .seccion, .cuerpoVisible .seccionNotando {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .cuerpoVisible .seccion .entradaBlog .subTitle, .cuerpoVisible .seccionNotando .entradaBlog .subTitle {
      font-size: 2.1rem; }
    .cuerpoVisible .seccion .entradaBlog .texto, .cuerpoVisible .seccionNotando .entradaBlog .texto {
      font-size: 1.5rem; }
    .cuerpoVisible .seccion .entradaBlog .tiempo, .cuerpoVisible .seccionNotando .entradaBlog .tiempo {
      font-size: 1rem; }
    .cuerpoVisible .seccion .entradaBlogFix, .cuerpoVisible .seccionNotando .entradaBlogFix {
      width: auto;
      height: auto;
      padding: auto;
      margin: 1rem; } }

@media (max-width: 856px) and (min-width: 481px) {
  /* Cabecera general */
  .cabecera .title {
    font-size: 3.6rem; }
  /* Nav blog*/
  .barraDeNavegacionBlog .menuListBlog li a {
    text-align: center;
    font-size: 1.4rem;
    width: auto;
    height: auto;
    padding: auto;
    margin: 0.4rem; }
  /* Nav blog (p/ el error) */
  .barraDeNavegacionBlogFix .menuListBlog li a {
    font-size: 1.6rem; }
  /* Nav Index y contacto */
  .barraDeNavegacion .menuList, .barraDeNavegacion .menuListContacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .barraDeNavegacion .menuList li, .barraDeNavegacion .menuListContacto li {
      display: flex;
      flex-wrap: wrap; }
      .barraDeNavegacion .menuList li a, .barraDeNavegacion .menuListContacto li a {
        font-size: 2.4rem; }
  /* Main Index */
  .cuerpoVisibleIndex {
    display: grid;
    grid-template-areas: "imagen" "padre" "padreTexto"; }
    .cuerpoVisibleIndex .imagenesIndex .imgIndex .cuerpoCarta .subTitleCarta {
      font-size: 3rem; }
    .cuerpoVisibleIndex .imagenesIndex .imgIndex .cuerpoCarta .textoCarta {
      font-size: 2.4rem; }
    .cuerpoVisibleIndex .padreIndex .textoPadreIndex {
      font-size: 3rem; }
    .cuerpoVisibleIndex .padreIndex .hijo {
      width: 105px;
      height: 105px;
      font-size: 2.4rem; }
    .cuerpoVisibleIndex .padreTexto .subTitle {
      font-size: 3rem; }
    .cuerpoVisibleIndex .padreTexto .texto {
      font-size: 2.4rem; }
  /* Main Portafolio */
  .cuerpoVisiblePortafolio {
    display: grid;
    grid-template-areas: "imagen" "padre"; }
    .cuerpoVisiblePortafolio .imagenesPortafolio .imgIndexPrincipal .cuerpoCarta .subTitleCarta {
      font-size: 3rem; }
    .cuerpoVisiblePortafolio .imagenesPortafolio .imgIndexPrincipal .cuerpoCarta .textoCarta {
      font-size: 2.4rem; }
    .cuerpoVisiblePortafolio .padrePortafolio .subTitle {
      font-size: 3rem; }
    .cuerpoVisiblePortafolio .padrePortafolio .texto {
      font-size: 2.4rem; }
  /* Imagen blog */
  .padreImagenesBlog .imgBlog {
    width: 100%;
    height: auto;
    padding: auto;
    margin: auto; }
    .padreImagenesBlog .imgBlog .cuerpoCarta .subTitleCarta {
      font-size: 3rem; }
    .padreImagenesBlog .imgBlog .cuerpoCarta .textoCarta {
      font-size: 2.4rem; }
  /* Main Blog */
  .cuerpoVisible .seccion, .cuerpoVisible .seccionNotando {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .cuerpoVisible .seccion .entradaBlog .subTitle, .cuerpoVisible .seccionNotando .entradaBlog .subTitle {
      font-size: 3rem; }
    .cuerpoVisible .seccion .entradaBlog .texto, .cuerpoVisible .seccionNotando .entradaBlog .texto {
      font-size: 2.4rem; }
    .cuerpoVisible .seccion .entradaBlog .tiempo, .cuerpoVisible .seccionNotando .entradaBlog .tiempo {
      font-size: 1.5rem; }
    .cuerpoVisible .seccion .entradaBlogFix, .cuerpoVisible .seccionNotando .entradaBlogFix {
      width: auto;
      height: auto;
      padding: auto;
      margin: 2rem; }
  /* Main contacto */
  .cuerpoVisibleContacto {
    grid-template-areas: "formulario" "imagen"; }
    .cuerpoVisibleContacto .formulario .entrada .label {
      font-size: 2.4rem; }
    .cuerpoVisibleContacto .formulario .entrada .datosUno {
      height: 2.4rem; }
    .cuerpoVisibleContacto .formulario .entrada .datosDos {
      width: 70%; }
    .cuerpoVisibleContacto .imagenesForm .imgIndexForm .cuerpoCarta .subTitleCarta, .cuerpoVisibleContacto .imagenesForm .imgIndexPrincipal .cuerpoCarta .subTitleCarta, .cuerpoVisibleContacto .imagenesPortafolio .imgIndexForm .cuerpoCarta .subTitleCarta, .cuerpoVisibleContacto .imagenesPortafolio .imgIndexPrincipal .cuerpoCarta .subTitleCarta {
      font-size: 3rem; }
    .cuerpoVisibleContacto .imagenesForm .imgIndexForm .cuerpoCarta .textoCarta, .cuerpoVisibleContacto .imagenesForm .imgIndexPrincipal .cuerpoCarta .textoCarta, .cuerpoVisibleContacto .imagenesPortafolio .imgIndexForm .cuerpoCarta .textoCarta, .cuerpoVisibleContacto .imagenesPortafolio .imgIndexPrincipal .cuerpoCarta .textoCarta {
      font-size: 2.4rem; }
  /* Pie */
  .pieDePagina, .pieDePaginaFix {
    display: flex;
    justify-content: center;
    align-content: flex-end; }
    .pieDePagina .textoPie, .pieDePagina .textoPieFix, .pieDePaginaFix .textoPie, .pieDePaginaFix .textoPieFix {
      text-align: center;
      font-size: 3rem; } }
