@import "base/mapas";
@import "base/extend";
@import "base/mixin";
@import "base/variables";

/* Reset general*/
* {margin: 0;
    padding: 0;
    box-sizing: border-box;}
/* Color de fondo general*/
.cuerpoCompleto {background-color: map-get($map: $colores, $key: colorDeFondo);}
/* Cabecera  general*/
.cabecera {display: $flex;
    justify-content: center;
    background-color: map-get($map: $colores, $key: colorDeFondoTitle);
    @include medidas (auto, auto, 1.125rem, 1.125rem);
    @extend %border;
    .title { @include medidas (100%, 80%, 1%, auto);
    background-color: map-get($map: $colores, $key: colorDeFondoTitle);
    font-size: 3rem;
    text-align: center;}}
/* Pagina Principal
Nav */
.barraDeNavegacion {@include barraDeNavegacion;
    @extend %border;
    .menuListContacto {grid-area: menu;
                            display: grid;
                            grid-template-areas: "portafolio . inicio";
                            list-style: none;
                    li {display: $flex;
                        justify-content: center;
                        a {color: map-get($map: $colores, $key: colorDeTextoNav);
                            font-size: 2.4rem;
                            text-decoration: none;
                            margin: 1rem;}
                        a:hover {transform: scale(1.2);
                                    background-color: map-get($map: $colores, $key: colorDeTransformacion);
                                    box-shadow: 4px 4px 10px black;
                                    transition: 1.2s;
                                    border-radius: 10px;}}
        .portafolio {grid-area: portafolio;}
        .inicio {grid-area: inicio;}}
    .menuList {grid-area: menu;
        display: grid;
        grid-template-areas: "inicio . contacto";
    list-style: none;
    li {display: $flex;
    justify-content: center;
    a {color: map-get($map: $colores, $key: colorDeTextoNav);
        font-size: 2.4rem;
        text-decoration: none;
        @include medidas (auto, auto, auto, 1rem);}
    a:hover {transform: scale(1.2);
        background-color: #f48c22;
    box-shadow: 4px 4px 10px black;
    transition: 1.2s;
    border-radius: 10px;}}
    .contacto {grid-area: contacto;}
    .inicio {grid-area: inicio;}}}

/* Main Index */
.cuerpoVisibleIndex {display: grid;
    grid-template-areas: "imagen padre padreTexto";
    @include medidas (auto, 100%, 1.125rem, 1.125rem);
    @extend %border;
 background-color: map-get($map: $colores, $key: colorDeFondoMain);
.imagenesIndex{grid-area: imagen;
    @include medidas (auto, auto, 1.125rem, 1.125rem);
    display: $flex;
    justify-content: center;
background-color: map-get($map: $colores, $key: colorDeFondoImagen);
animation-name: subiendoYBajando;
animation-duration: 10s;
animation-timing-function: linear;
animation-iteration-count: infinite;
.imgIndex{@include medidas (100%, auto, auto, auto);}}
.padreIndex{grid-area: padre;
    @include medidas (auto, auto, 1.125rem, 1.125rem);
    display: $flex;
flex-wrap: wrap;
background-color: map-get($map: $colores, $key: colorDeTextoNav);
.hijo {background-color: map-get($map: $colores, $key: colorDelHijo);
    @include medidas (45px, 45px, auto, 4px);}}
.padreTexto {grid-area: padreTexto;
    @include medidas (auto, auto, 1.125rem, 1.125rem);
    background-color: map-get($map: $colores, $key: colorDeTextoNav);}}

    /* imagen blog */
.padreImagenesBlog {display: $flex;
        justify-content: center;
        @include medidas (auto, auto, 1.125rem, 1.125rem);
        @extend %border;
        background-color: map-get($map: $colores, $key: colorDeFondoImagen);
        animation-name: subiendoYBajando;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        .imgBlog {background-color: map-get($map: $colores, $key: colorDeFondoImagen);
            @include medidas (50%, auto, auto, auto);}
        @keyframes subiendoYBajando {
            0% {padding: 18px;}
            25% {padding-top: 9px;
                padding-bottom: 27px;}
            50% {padding-top: 18px;
                padding-bottom: 18px;}
            75%{padding-top: 27px;
                padding-bottom: 9px;}
            100%{padding-top: 18px;
                padding-bottom: 18px;}
        }}
/* Parte del blog 
Nav */
   .barraDeNavegacionBlog {background-color: map-get($map: $colores, $key: colorDeFondoNav);
    @extend %border;
    border-style: ridge;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    @include medidas (auto, auto, 1.125rem, 1.125rem);
    .menuListBlog {display: grid;
        list-style: none;
        grid-template-areas: "experiencias notando aprendizajes"
        "rimando . inicio";
        gap: 18px;
        li {display: $flex;
            justify-content: center;
            align-items: center;
            @include medidas (100%, 80%, auto, auto);
            a {color: map-get($map: $colores, $key: colorDeTextoNav);
            font-size: 1.8rem;
            text-decoration: none;
            @include medidas (auto, auto, auto, 1.125rem);}
        a:hover {transform: scale(1.2);
            background-color: #f48c22;
        box-shadow: 4px 4px 10px black;
        transition: 1.2s;
        border-radius: 10px;}}
        li.notando {grid-area: notando;}
        li.experiencias {grid-area: experiencias;}
        li.aprendizajes {grid-area: aprendizajes;}
        li.rimando {grid-area: rimando;}
        li.inicio {grid-area: inicio;}}}
          /* Main */
          .cuerpoVisible {
            @include medidas (auto, 100%, 1.6875rem, 1.125rem);
            @extend %border;
         background-color: map-get($map: $colores, $key: colorDeFondoMain);
         .seccionNotando {display: grid;
            grid-template-areas: "notandoSeis notando-meaning"
            "notandoCinco notandoCinco"
            "notandoCuatro notandoCuatro"
            "notandoTres notandoTres"
            "notandoDos notandoDos"
            "notandoUno notandoUno";
            gap: 9px;
    /* Entradas del blog */
.entradaBlog {display: grid;
    color: map-get($map: $colores, $key: colorDelTiempo);
    @include medidas (auto, auto, 1.125rem, 1.125rem);
    background-color: map-get($map: $colores, $key: colorDeFondoNav);
    .subTitle {text-align: center;
        font-size: 27px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: inherit;}
    .texto {@include medidas (auto, auto, 1.125rem, 1.125rem);
            color: map-get($map: $colores, $key: colorDeTextoBlog1);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}}
    .notandoUno {grid-area: notandoUno;}
    .notandoDos {grid-area: notandoDos;}
    .notandoTres {grid-area: notandoTres;}
    .notandoCuatro {grid-area: notandoCuatro;}
    .notandoCinco {grid-area: notandoCinco;}
    .notandoSeis {grid-area: notandoSeis;}}
.seccion {display: grid;
    justify-content: center;
        .entradaBlog{color: map-get($map: $colores, $key: colorDelTiempo);
            @include medidas (auto, auto, 1.125rem, 1.125rem);
            background-color: map-get($map: $colores, $key: colorDeFondoNav);
            @extend %entradaBlog;}}}
            


    /* Main portafolio */
    .cuerpoVisiblePortafolio {display: grid;
        grid-template-areas: "imagen padre";
        @include medidas (auto, auto, 1.125rem, 1.125rem);
    background-color: map-get($map: $colores, $key: colorDeFondoMain);
    @extend %border;
    .imagenesPortafolio{grid-area: imagen;
        @include medidas (auto, auto, 1.125rem, 1.125rem);
        @extend %border;
    background-color: map-get($map: $colores, $key: colorDeFondoImagen);
    animation-name: subiendoYBajando;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    .imgIndexPrincipal{@include medidas (100%, auto, 1.125rem, 1.125rem);
    }}
    .padre{display: grid;
        grid-area: padre;
        @include medidas (auto, auto, 1.125rem, 1.125rem);
        @extend %border;
        background-color: map-get($map: $colores, $key: colorDeTextoNav);}}
    


/* Main contacto.html */
.cuerpoVisibleContacto {display: grid;
    grid-template-areas: "formulario imagen";
    justify-content: center;
    @include medidas (auto, auto, 1.125rem, 1.125rem);
    @extend %border;
    background-color: map-get($map: $colores, $key: colorDeFondoMain);
    .formulario {grid-area: formulario;
        display: $flex;
       flex-direction: column;
       @include medidas (auto, auto, 1.125rem, 1.125rem);
       @extend %border;
        background-color: map-get($map: $colores, $key: colorDeTextoNav);
        .entrada {@include medidas (auto, auto, auto, 1.125rem);
            text-align: center;
            .datos {background-color: map-get($map: $colores, $key: colorDeDatos);
                border: 1px solid red;}}}
                .imagenesForm {grid-area: imagen;
                    @include medidas (auto, auto, 1.125rem, 1.125rem);
                    @extend %border;
                background-color: map-get($map: $colores, $key: colorDeFondoImagen);
                .imgIndexForm {@include medidas (100%, auto, auto, auto);}}}

     /* pie de página */
     .pieDePagina {display: $flex;
        justify-content: center;
    align-content: flex-end;
    @include medidas (auto, auto, 1.125rem, 1.125rem);
    @extend %border;
    background-color: map-get($map: $colores, $key: colorDeFondoFooter);
    .textoPie {font-size: 2rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;}}


    /* Vista Mobile */
    @media(max-width: 480px){
/* Index */
/* Nav */
.barraDeNavegacion {.menuList{li{a{font-size: 1.4rem;}}}}
/* Main */
.cuerpoVisiblePrincipalIndex {
    display: grid;
    grid-template-areas: "imagen"
                        "padre"
                        "padreTexto";}

/*Portafolio*/
/*Nav*/
.barraDeNavegacion {.menuListContacto{li{a{font-size: 1.4rem;}}}}
/* Main */
.cuerpoVisiblePrincipal{display: grid;
grid-template-areas: "imagen"
"padre";}

/* Contacto */
/* Main */
.cuerpoVisibleContacto{grid-template-areas: "formulario"
    "imagen";}
// Index
// Nav
.barraDeNavegacion {
    .menuList, .menuListContacto{
        li{
            a{
                font-size: 1.4rem;
            }
        }
    }}
/* Main */
.cuerpoVisiblePrincipalIndex {
    display: grid;
    grid-template-areas: "imagen"
                        "padre"
                        "padreTexto";
}

/*Portafolio
 Main*/

.cuerpoVisiblePrincipal{display: grid;
grid-template-areas: "imagen"
"padre";}

// Contacto
// Main
.cuerpoVisibleContacto{grid-template-areas: "formulario"
    "imagen";}

/* Blog
 Index-blog
 Imagenes*/
 .padreImagenesBlog{.imgBlog{.cuerpoCarta{
    h2.subTitleCarta{font-size: 1.5rem;}
    p.textoCarta{font-size: 1.2rem;}
 }}}
 /*Nav*/
.barraDeNavegacionBlog {.menuListBlog{li{a{
                text-align: center;
                font-size:  0.9rem;
                @include medidas (auto, auto, auto, 0.3rem);
            }
        }
    }}
/* Main blog */
.cuerpoVisible{
    .seccion, .seccionNotando{display: $flex;
        flex-direction: column;
        justify-content: center;
        .entradaBlog{.subTitle{font-size: 2rem;}
                    .texto{font-size: 1.2rem;}
                    .tiempo{font-size: 1rem;}}
        .entradaBlogFix{@include medidas (auto, auto, auto, 1rem);}}}
    }



 @media (max-width: 768px) and (min-width: 481px){
/* Nav Index, blog y contacto */
.barraDeNavegacion, .barraDeNavegacionBlog {
    .menuList, .menuListContacto, .menuListBlog{
        li{
            a{
                text-align: center;
                font-size:  1rem;
                @include medidas (auto, auto, auto, 0.4rem);
            }
        }
    }}
 /* Main Index */
 .cuerpoVisiblePrincipalIndex {
    display: grid;
    grid-template-areas: "imagen"
                        "padre"
                        "padreTexto";
}
/* Main Portafolio */
.cuerpoVisiblePrincipal{display: grid;
    grid-template-areas: "imagen"
    "padre";}
 /* Main Blog */
 .cuerpoVisible{
    .seccion, .seccionNotando{display: $flex;
        flex-direction: column;
        justify-content: center;
        .entradaBlog{.subTitle{font-size: 2rem;}
                    .texto{font-size: 1.2rem;}
                    .tiempo{font-size: 1rem;}}
        .entradaBlogFix{@include medidas (auto, auto, auto, 1rem);}}}
/* Main contacto */
.cuerpoVisibleContacto{grid-template-areas: "formulario"
    "imagen";}
/* Pie */
.pieDePagina, .pieDePaginaFix {
    display: $flex;
    justify-content: center;
    align-content: flex-end;
    .textoPie, .textoPieFix{text-align: center;
        font-size: 1.5rem;}}
}