* {margin: 0;
padding: 0;
box-sizing: border-box;}

/* Color de fondo */
.cuerpoCompleto {background-color: #ffba08;}

   /* header */
   .cabecera {display: flex;
    justify-content: center;
    width: auto;
    height: auto;
padding: auto;
margin: 18px;
border: 3px solid black;}
.title { width: 100%;
    background-color: #faa307;
    font-size: 3rem;
    text-align: center;
height: 80%;
padding: 1%;
margin: auto; }

    /* imagen */
    .imagenes {
        margin: 18px;
        border: 3px solid black;
        padding: 18px;
        height: auto;
      text-align: center;
    background-color: #dc2f02;}
    .img-index {width: 70%;
    height: auto;}

   /* nav */
   .barraDeNavegacion {background-color: #FFAA00;
    border: 3px solid blueviolet;
    border-style: ridge;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    margin: 18px;
    padding: 18px;
    width: auto;}
    .menu-list {display: grid;
        list-style: none;
        grid-template-areas: "experiencias notando aprendizajes"
        "rimando . inicio";
        gap: 18px;
    }
    nav ul li {display:flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
 margin: 18px;}
        li a {color: #d00000;
            font-size: 1.8rem;
            text-decoration: none;
        margin: 1rem;} 
        li.notando {grid-area: notando;}
    li.experiencias {grid-area: experiencias;}
    li.aprendizajes {grid-area: aprendizajes;}
    li.rimando {grid-area: rimando;}
    li.inicio {grid-area: inicio;} 

        /* Main */
        .cuerpoVisible {
            margin: 18px;
         border: 3px solid black;
         padding: 27px;
         height: 100%;
         width: auto;
         background-color: #e85d04;}
         .seccion {display: grid;
            justify-content: center;
        padding: 18px;
    gap: 18px;}

/* Entradas del podcast */
.entrada-blog {display: grid;
    margin: 18px;
    border: 3px solid black;
    padding: 18px;
    height: auto;
    width: auto;
    background-color: #d00000;}
    .sub-title {text-align: center;
        font-size: 27px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: inherit;}
        .texto {margin: 18px;
        padding: 18px;}
    .formatoAudio {margin: 18px;}

    /* pie de página */
    .pieDePagina {display: flex;
        justify-content: center;
    align-content: flex-end;
    margin: 18px;
    border: 3px solid black;
    padding: 18px;
    height: auto;
    width: auto;
    background-color: #9d0208;}
    .textoPie {font-family: Verdana, Geneva, Tahoma, sans-serif;}

        /* Media Queries */
        @media screen and (max-width: 480px){
            /* Nav */
            .menu-list {
              gap: 9px;}
                  li a {
                      font-size:  1rem;
                  margin: 0.4rem;} 
                  .seccion {padding: 27px;}
.entrada-blog {margin: 18px;
    padding: 9px;} 
}