$colorDeFondo: #ffba08;
$colorDeFondoTitle: #faa307;
$colorDeFondoImagen: #dc2f02;
$colorDeFondoNav: #FFAA00;
$colorDeFondoMain: #e85d04;
$colorDeFondoEntradaBlog: #d00000;
$colorDeFondoFooter: #9d0208;
