* {margin: 0;
    padding: 0;
    box-sizing: border-box;}

    /* Color de fondo */
    .cuerpoCompleto {background-color: #ffba08;}
    
    /* header */
    .cabecera {display: flex;
        justify-content: center;
        width: auto;
        height: auto;
    padding: auto;
    margin: 18px;
    border: 3px solid black;}
    .title { width: 100%;
        text-align: center;
    height: 80%;
    padding: 1%;
    margin: auto; 
font-size: 3rem;}
    
    /* nav */
    .barraDeNavegacion {background-color: #f48c06;
        border: 3px solid black;
    display: grid;
    grid-template-areas: "menu";
    text-align: center;
    margin: 18px;
    padding: 18px;
    width: auto;}
    .menu {grid-area: menu;
        display: grid;
        grid-template-areas: "notando aprendizajes podcast"
        "rimando . inicio";
    list-style: none;
gap: 18px;
justify-content: center;}
    li.notando {grid-area: notando;}
    li.aprendizajes {grid-area: aprendizajes;}
    li.podcast {grid-area: podcast;}
    li.rimando {grid-area: rimando;}
    li.inicio {grid-area: inicio;}
    li a {color: #d00000;
        font-size: 2.4rem;
        text-decoration: none;
    margin: 1rem;}
    
    /* Main */
     .cuerpoVisible {
        margin: 18px;
     border: 3px solid black;
     padding: 18px;
     height: 100%;
     width: auto;
     background-color: #e85d04;}
     .seccion {display: grid;
        grid-template-areas: 
        "experienciasCuatro"
        "experienciasTres"
        "experienciasDos"
        "experienciasUno";
        gap: 18px;}

    /* entrada del blog */
    .entrada-blog {
        display: grid;
        margin: 18px;
        border: 3px solid black;
        padding: 18px;
        height: auto;
        width: auto;
        background-color: #d00000;}
    .sub-title {font-size: 2.7rem;
        display: flex;
        justify-content: center;}
            .texto {font-size: 1.8rem;}
            .tiempo {font-size: 1.2rem;}
    .experienciasUno {grid-area: experienciasUno;}
    .experienciasDos {grid-area: experienciasDos;}
    .experienciasTres {grid-area: experienciasTres;}
    .experienciasCuatro {grid-area: experienciasCuatro;}
    
    /* imagen */
    .imagenes {display: flex;
        justify-content: center;
        margin: 18px;
        border: 3px solid black;
        width: auto;
    background-color: #dc2f02;}
    .img-index {width: 70%;}

    /* pie de página */
    .pieDePagina {display: flex;
        justify-content: center;
    align-content: flex-end;
    margin: 18px;
    border: 3px solid black;
    padding: 18px;
    height: auto;
    width: auto;
    background-color: #9d0208;}
    .textoPie {font-family: Verdana, Geneva, Tahoma, sans-serif;}

    /* Media queries */
    @media screen and (max-width: 480px){
                       /* Nav */
                       .menu-list {
                        gap: 9px;}
                            li a {
                                font-size:  1rem;
                            margin: 0.4rem;} 
    }