* {margin: 0;
padding: 0;
box-sizing: border-box;}

/* body */
.cuerpoCompleto {background-color: #ffba08;}


/* Titulo principal */
.cabecera {display: flex;
    justify-content: center;
    width: auto;
    height: auto;
padding: auto;
margin: 18px;
border: 3px solid black;
font-family: cursive;
margin-bottom: 45px;}
.title { width: 100%;
    background-color: #faa307;
    text-align: center;
height: 80%;
padding: 1%;
margin: auto; }

    /* imagen */
    .imagenes {display: flex;
        justify-content: center;
        margin: 18px;
        border: 3px solid black;
        width: auto;
    background-color: #dc2f02;
    animation-name: subiendoYBajando;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;}
    .img-index {width: auto;}
    @keyframes subiendoYBajando {
        0% {padding: 18px;}
        25% {padding-top: 9px;
            padding-bottom: 27px;}
        50% {padding-top: 18px;
            padding-bottom: 18px;}
        75%{padding-top: 27px;
            padding-bottom: 9px;}
        100%{padding-top: 18px;
            padding-bottom: 18px;}
    }

/* Nav */
.barraDeNavegacion {background-color: #FFAA00;
    border: 3px solid blueviolet;
    border-style: ridge;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    margin: 18px;
    padding: 18px;
    width: auto;}
    .menu-list {display: grid;
        list-style: none;
        grid-template-areas: "podcast experiencias aprendizajes"
        "notando . inicio";
        gap: 18px;
    }
    nav ul li {display:flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
 margin: 18px;}
        li a {color: #d00000;
            font-size: 1.8rem;
            text-decoration: none;
        margin: 1rem;} 
        li.podcast {grid-area: podcast;}
        li.experiencias {grid-area: experiencias;}
        li.aprendizajes {grid-area: aprendizajes;}
        li.notando {grid-area: notando;}
    li.inicio {grid-area: inicio;} 
    li {display: flex;
        justify-content: center;}
        li a:hover {transform: scale(1.2);
            background-color: #f48c22;
        box-shadow: 4px 4px 10px black;
        transition: 1.2s;
        border-radius: 10px;}

/* Main */
.cuerpoVisible {display: grid;
    margin: 18px;
 border: 3px solid black;
 padding: 18px;
 height: 100%;
 width: auto;
 background-color: #e85d04;}
 .seccion {display: grid;
padding: 18px;
gap: 18px;}

/* Entradas de Rimando */
.entrada-blog {display: grid;
    margin: 18px;
    padding: 18px;
    height: auto;
    width: 95%;
    background-color: #d00000;}
    .sub-title {font-size: 27px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: inherit;}
        .texto {margin: 18px;
        padding: 18px;}

/* Pie de página */
.pieDePagina {display: flex;
    justify-content: center;
align-content: flex-end;
margin: 18px;
padding: 18px;
height: auto;
width: auto;
background-color: #9d0208;}
.textoPie {font-family: Verdana, Geneva, Tahoma, sans-serif;}

        /* Media Queries */
        @media screen and (max-width: 480px){
            /* Nav */
            .menu-list {
              gap: 9px;}
                  li a {
                      font-size:  1rem;
                  margin: 0.4rem;} 
                  .seccion {padding: 27px;}
.entrada-blog {margin: 18px;
    padding: 9px;} 
}

/* article.entrada-blog {background-color: #ffea00;
padding: 27px;
border-radius: 18px;
box-shadow: inset -3px -3px #ff7b00, inset -6px -6px #ff8800, inset -9px -9px #ff9500, inset -12px -12px #ffa200, inset -15px -15px #ffaa00, inset -18px -18px #ffb700, inset -21px -21px #ffc300, inset -24px -24px #ffd000, inset -27px -27px #ffdd00;
margin-bottom: 45px;}
h2, .tiempo, .texto {background-color: #ffea00;
padding: 15px;} */

/* Seguir haciendo los boxshadow en todas las cajas del html.
Sacar los bordes negros */