$colores:(colorDeFondo: #ffba08, 
colorDeFondoTitle: #faa307, 
colorDeTransformacion: #f48c22,
colorDeFondoImagen: #dc2f02,
colorDeFondoNav: #FFAA00,
colorDeFondoMain: #e85d04,
colorDeTextoNav: #d00000,
colorDeFondoFooter: #9d0208,
colorDeTextoBlog1: rgb(0, 45, 247),
colorDelTiempo: rgb(32, 180, 57),
colorDelHijo: aqua,
colorDeDatos: #a50505);
