@mixin medidas($width, $height, $padding, $margin){
    width: $width;
    height: $height;
    padding: $padding;
    margin: $margin;}
@mixin barraDeNavegacion{background-color: #f48c06;
    display: grid;
    grid-template-areas: "menu";
    text-align: center;
    margin: 18px;
    padding: 18px;}